<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/static/styles/styles.css"
		/>
		<link
			rel="shortcut icon"
			type="x-icon"
			href="/static/images/Y.png"
		/>
		<title>Movie Recommendation</title>
	</head>

	<body>
		<header class="header">
			<a href="/"
				><img
					src="/static/images/main_logo.png"
					class="logo"
			/></a>

			<nav class="navbar">
				<a href="/"> Home </a>
				<a href="about"> About </a>
				<a href="mailto:prathamjeetsingh44@gmail.com">Contact</a>
			</nav>
		</header>

		<div class="ABOUT">
			<span>
				I (Prathamjeet Singh)</span> along with my group members <span>Shivam Gusain</span>, <span>Akshat Gupta</span> & <span>Shourya P Singh</span> created this
				project as our final year project. Our main objective of this project was
				to develop a system that suggests movies to users based on their preferences and the content of the movies
				themselves. The primary goal was to provide personalised movie recommendation to user, taking into account their
				individual tastes, interests, and viewing history.
			</span>
		</div>
	</body>
</html>
