<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="shortcut icon" type="x-icon" href="/static/images/Y.png" />
    <title>Movie Recommendation</title>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <img src="/static/images/main_logo.png" class="logo" />
        <ul>
          <li>
            <a class="active" href="/">Home</a>
          </li>
          <li>
            <a href="/about" role="button">About</a>
          </li>
          <li>
            <a href="mailto:prathamjeetsingh44@gmail.com" role="button"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <div class="ABOUT">
      <p>
        Me(Prathamjeet Singh) along with my group members Shivam Gusain, Akshat
        Gupta & Shourya P Singh created this project as our final year project
        under the guidance of Mr. Ravi Anand. Our main objective of this project
        was to develop a system that suggests movies to users based on their
        preferences and the content of the movies themselves. The primary goal
        was to provide personalised movie recommendation to user, taking into
        account their individual tastes, interests, and viewing history.
      </p>
    </div>
  </body>
</html>
