@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #161616;
  font-family: "rubik";
  box-sizing: border-box;
  color: #ffff;
  max-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
  transition:all 0.5s ease-in;
  background: transparent;
}

body {
  background-image: url(/static/images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 5rem;
}

a {
  text-decoration: none;
}

.navbar a{
  padding: 0 2.5rem;
  color: #ffff;
  font-size: 2rem;
}

a:hover {
  color: #db3f66;
}

.h , .b {
  color: #db3f66;
}

.heading {
  transition:all 0.5s ease-in;
  text-align: center;
  margin: 15em 20em;
  padding: 5em;
}

.h-text {
  margin-bottom: 5em;
}

span {
  font-size: 2rem;
}

.movie_search {
  padding: 1.5em 5em;
  border: 2px solid;
  border-color: #db3f66;
  border-radius: 10rem;
  margin: 5em 10em;
  transition:all 0.5s ease-in;
}

.movie_search:hover{
  background-color: #db3f66; 
  color: #ffff;
}

.search {
 padding: 5rem;
 margin: 5em 15em;
 display: flex;
  justify-content: center;
}

.search-bar {
  padding: 20px;
}


.bar-1 {
  margin: 2em 10em;
  padding: 0.75em 10em;
  text-align: center;
}

.bar-2 {
  margin: 0em 10em;
  padding: 0.75em 10em;
  text-align: center;
}

.search-bar input {
  border: 2px solid;
  outline: none;
  font-size: 1.5em;
  border-radius: 10px;
  backdrop-filter: blue(4px) saturate(180%);
  font-family: "rubik";
}

.form-search {
  font-size: 1.5rem;
  padding: 1em;
}

.btn-rec{
  margin: 2em 42em;
  border-radius: 20px;
}

.btn-rec-img {
  border-radius: 20px;
  padding: 1.5em;
}

.btn-rec-img:hover{
  transition: all 0.0s;
  background-color: #db3f66;
}

.btn-rec:hover {
  transition: all 0.0s;
  border: none;
}

.ABOUT {
  margin: 0em 15rem;
  font-size: 2em;
  text-align: center;
  border: 1px solid;
  border-radius: 10rem;
  padding: 1.5em;
  margin: 0.5em 15em;
  word-spacing: 2px;
  line-height: 2em;
  
}

.ABOUT span {
  color: #db3f66;
}

/* 

.card-poster img {
  width: 100%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
} */

.card-heading {
  text-align: center;
}

.searched-movie-name{
  color: #db3f66;
}

.cards-container {
  margin: 1em;
  max-width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid white;
  border-radius: 2em;
  max-height: 70vh;
  max-width: 35vh;
  background-color: #3b3b3b;
  margin: 0.5rem;

}

.movie-title {
  text-align: center;
  padding: 1em;
  width: 100%;
  height: 7em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.movie-title h1 {

  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

br {
  height: 0em;
  size: 1px solid white;
}

.card-poster {
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.card-poster img{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}










